/* #Carousel */
.swiper-pagination-bullet {
	background-color: $regular_accent_color_1;
}
.invert .swiper-pagination-bullet{
	background-color: $invert_link_color;
}
.swiper-button-next,
.swiper-button-prev {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.swiper-button-next:not(.swiper-button-disabled):hover, .swiper-button-prev:not(.swiper-button-disabled):hover {
	color: $regular_accent_color_1;
	background-color: $invert_accent_color_1;
}