/* #Booked */
.widget_booked_calendar .booked-calendar-wrap .booked-calendar thead tr {
	background:	$regular_accent_color_1;
}
.widget_booked_calendar .booked-calendar-wrap .booked-calendar thead .backToMonth {
	color: @alpha($regular_accent_color_2, 50);
}
.widget_booked_calendar .booked-calendar-wrap .booked-calendar thead .backToMonth:hover {
	color: @alpha($regular_accent_color_2, 80);
}
.widget_booked_calendar .booked-calendar-wrap .booked-calendar tbody tr.week td .tooltipster {
	border-color: $regular_accent_color_2;
	background-color: $invert_accent_color_3;
}
.widget_booked_calendar .booked-calendar-wrap .booked-calendar tbody tr.week td:hover .tooltipster {
	border-color: $regular_link_color;
	background-color: $regular_link_color;
}
.widget_booked_calendar .booked-calendar-wrap .booked-calendar tbody tr.week td:hover .tooltipster .number,
.widget_booked_calendar .booked-calendar-wrap .booked-calendar tbody tr.week td.active .number {
	color: $invert_text_color !important;
}
.widget_booked_calendar .booked-calendar tbody .number {
	color: $regular_link_hover_color
}
.widget_booked_calendar .booked-calendar-wrap .booked-calendar tbody tr.week td.active {
	border-color: @alpha($invert_accent_color_3, 45);
	background-color: $invert_link_hover_color;
}
.widget_booked_calendar .booked-calendar-wrap .booked-calendar tbody tr.week td .tooltipster .number,
.widget_booked_calendar .booked-calendar-wrap .booked-calendar tbody tr.week td .number {
	color: $regular_link_color;
}

.widget_booked_calendar .booked-calendar-wrap .booked-calendar thead tr.days th  {
	color: $regular_link_hover_color !important;
}

.widget_booked_calendar .booked-calendar-wrap .booked-calendar tbody tr.entryBlock {
	background-color: $invert_link_hover_color;
}
.widget_booked_calendar .booked-calendar-wrap .booked-calendar tbody tr.entryBlock td {
	border-color: $invert_accent_color_3;
}