/*--------------------------------------------------------------
## Button
--------------------------------------------------------------*/
#tm_builder_outer_content .tm_pb_button_module_wrapper a.tm_pb_button.tm_pb_button_holder, 
#tm_builder_outer_content .tm_pb_button_module_wrapper a.tm_pb_button.tm_pb_button_holder:hover{
	color: $invert_accent_color_1;
}
#tm_builder_outer_content .tm_pb_button,
#tm_builder_outer_content button.tm_pb_button,
#tm_builder_outer_content .tm_pb_button_module_wrapper .tm_pb_button,
#tm_builder_outer_content .tm_pb_promo .tm_pb_promo_button.tm_pb_button,
#tm_builder_outer_content .tm_pb_button.tm_pb_more_button,
#tm_builder_outer_content .tm_pb_blog .tm_pb_post .more-link,
#tm_builder_outer_content .tm_pb_button {
	font-weight: $button_font_weight;
	color: $regular_link_color;
	border-color: $regular_link_color;
}

#tm_builder_outer_content .tm_pb_promo .tm_pb_promo_button.tm_pb_button{
	background-color: transparent;
}

#tm_builder_outer_content .invert .tm_pb_button,
#tm_builder_outer_content .invert button.tm_pb_button,
#tm_builder_outer_content .invert .tm_pb_button_module_wrapper .tm_pb_button{
	color: $invert_link_color;
}
#tm_builder_outer_content .invert .tm_pb_button:hover,
#tm_builder_outer_content .invert button.tm_pb_button:hover,
#tm_builder_outer_content .invert .tm_pb_button_module_wrapper .tm_pb_button:hover{
	color: $invert_link_hover_color;
}

#tm_builder_outer_content .tm_pb_button:hover,
#tm_builder_outer_content button.tm_pb_button:hover,
#tm_builder_outer_content .tm_pb_promo .tm_pb_promo_button.tm_pb_button:hover,
#tm_builder_outer_content .tm_pb_button_module_wrapper .tm_pb_button:hover,
#tm_builder_outer_content .tm_pb_button.tm_pb_more_button:hover,
#tm_builder_outer_content .tm_pb_blog .tm_pb_post .more-link:hover,
#tm_builder_outer_content .tm_pb_button:hover {
	color: $invert_link_color;
	border-color: $regular_link_color;
	background-color: $regular_link_color;
}

#tm_builder_outer_content .tm_pb_button.tm_pb_button_holder:after, 
#tm_builder_outer_content .tm_pb_promo.invert .tm_pb_promo_button.tm_pb_button{
	color: $invert_link_color;
	border-color: $invert_link_color;
	background-color: transparent; 
}
#tm_builder_outer_content .tm_pb_promo.invert .tm_pb_promo_button.tm_pb_button:hover {
	background-color: $invert_link_color;
	color: $regular_link_color;
}
#tm_builder_outer_content .tm_pb_button.tm_pb_button_holder:hover:after, 
#tm_builder_outer_content .tm_pb_link_box .tm_pb_button:hover{
	color: $invert_accent_color_1;
}

#tm_builder_outer_content .tm_pb_link_box .tm_pb_link_box_button_holder .tm_pb_button{
	color: $regular_accent_color_1;
}
#tm_builder_outer_content .tm_pb_link_box .tm_pb_link_box_wrap:hover .tm_pb_link_box_button_holder .tm_pb_button:hover{
	color: $invert_link_color;
}
#tm_builder_outer_content .tm_pb_link_box .tm_pb_button, 
#tm_builder_outer_content .tm_pb_pricing_table_button.tm_pb_button {
	font-family: @font_family($button_font_family);
	font-weight: $button_font_weight;
	color: $regular_button_text_color;
}

#tm_builder_outer_content .tm_pb_pricing_table_button.tm_pb_button{
	color: $invert_link_color;
	background-color: $regular_link_color;
	border-color: $regular_link_color;
}
#tm_builder_outer_content .tm_pb_pricing_table_button.tm_pb_button:hover{
	color: $invert_link_color;
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}
#tm_builder_outer_content .tm_pb_pricing_table_button.tm_pb_button:before{
	background-color: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_featured_table .tm_pb_pricing_table_button.tm_pb_button{
	color: $invert_link_color;
}
#tm_builder_outer_content .tm_pb_featured_table .tm_pb_pricing_table_button.tm_pb_button:hover{
	color: $regular_link_hover_color;
}
#tm_builder_outer_content .tm_pb_featured_table .tm_pb_pricing_table_button.tm_pb_button:before{
	background-color: $invert_link_color;
}

/*--------------------------------------------------------------
## Slider
--------------------------------------------------------------*/
#tm_builder_outer_content .tm_pb_slider .tm_pb_slide_description h2:before{
	background-color: $invert_accent_color_1;
}
.tm_pb_slider .tm-pb-controllers a{
	border-color: $invert_accent_color_1;
	color: $invert_accent_color_1;
}
#tm_builder_outer_content .tm-pb-controllers a.tm-pb-active-control{
	color: $invert_accent_color_1;
	border-color: $invert_accent_color_1;
	background-color: $invert_accent_color_1;
}
#tm_builder_outer_content .tm_pb_slide_content {
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
}
@media (max-width: 992px) {
	#tm_builder_outer_content .tm_pb_slide_content {
		font-size: @font_size($body_font_size, multiple, ceil, 0.75)px;
	}
}
#tm_builder_outer_content .tm-pb-slider-arrows a {
	background-color: $invert_accent_color_1;
}
#tm_builder_outer_content .tm-pb-slider-arrows a:before {
	color: $regular_accent_color_1;
}
#tm_builder_outer_content .tm-pb-slider-arrows a:hover {
	background-color: $regular_accent_color_2;
}
#tm_builder_outer_content .tm-pb-slider-arrows a:hover:before {
	color: $invert_accent_color_1;
}
#tm_builder_outer_content .tm_pb_slide_content ul {
	color: $regular_accent_color_1;
}

/*--------------------------------------------------------------
## Blog
--------------------------------------------------------------*/
#tm_builder_outer_content .tm_pb_blog_grid_wrapper .tm_pb_post_meta .published{
	font-family: $h3_font_family;
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
}
#tm_builder_outer_content .tm_pb_blog_grid_wrapper .tm_pb_post_meta .author.vcard,
#tm_builder_outer_content .tm_pb_blog_grid_wrapper .tm_pb_post_meta .comments,
#tm_builder_outer_content .tm_pb_blog_grid_wrapper .tm_pb_post_meta span{
	font-family: $h3_font_family;
	color: $invert_h6_color;
}
#tm_builder_outer_content .tm_pb_blog_grid_wrapper .tm_pb_post_meta .author.vcard a,
#tm_builder_outer_content .tm_pb_blog_grid_wrapper .tm_pb_post_meta .comments{
	color: $regular_accent_color_2;
}
#tm_builder_outer_content .tm_pb_blog_grid_wrapper .tm_pb_post_meta .author.vcard a:hover{
	color: $regular_accent_color_1;
}
#tm_builder_outer_content .tm_pb_blog_grid_wrapper .tm_pb_post_meta .author.vcard:after{
	background-color: $invert_h6_color;
}
#tm_builder_outer_content .tm_pb_blog_grid_wrapper .tm_pb_post__grid:before {
	background-color: $invert_accent_color_2;
}
#tm_builder_outer_content .tm_pb_blog .tm_pb_post .post-categories li a {
	color: $regular_accent_color_2;
	background-color: $regular_accent_color_1;
}
#tm_builder_outer_content .tm_pb_blog .tm_pb_post .entry-title a {
	color: $regular_accent_color_1;
}
#tm_builder_outer_content .tm_pb_blog .tm_pb_post .entry-title a:hover {
	color: $regular_accent_color_2;
}
#tm_builder_outer_content .tm_pb_blog .tm_pb_post .post-categories li a:hover {
	color: $regular_accent_color_3;
	background-color: $regular_accent_color_2;
}
#tm_builder_outer_content .tm_pb_blog .tm_pb_post .author a {
	color: $regular_link_hover_color;
}
#tm_builder_outer_content .tm_pb_blog .tm_pb_post .author a:hover {
	color: $regular_link_color;
}
#tm_builder_outer_content .tm_pb_blog .tm_pb_post .more-link:hover{
	background-color: $regular_link_color;
	border-color: $regular_link_color;
}

#tm_builder_outer_content .tm_pb_blog_grid_wrapper .tm_pb_post{
	background-color: $invert_accent_color_1;
	border-bottom-color: $regular_accent_color_2; 
}



/*--------------------------------------------------------------
## Person
--------------------------------------------------------------*/
#tm_builder_outer_content .tm_pb_team_member.tm_pb_module .tm_pb_team_member_wrap .tm_pb_team_member_name a, #tm_builder_outer_content .tm_pb_team_member.tm_pb_module .tm_pb_team_member_wrap .tm_pb_team_member_name a:before{
	color:$invert_text_color;
}
#tm_builder_outer_content .tm_pb_team_member.tm_pb_module .tm_pb_team_member_wrap .tm_pb_team_member_name, #tm_builder_outer_content .tm_pb_team_member.tm_pb_module .tm_pb_team_member_wrap .tm_pb_team_member_name a:after{
	background-color: $regular_link_color;
}
.tm_pb_builder #tm_builder_outer_content .tm_pb_team_member.tm_pb_module:hover .tm_pb_team_member_wrap h3 a:hover{
	color: $invert_text_color;
}
.tm_pb_builder #tm_builder_outer_content .tm_pb_team_member.tm_pb_module:hover .tm_pb_team_member_wrap h3, .tm_pb_builder #tm_builder_outer_content .tm_pb_team_member.tm_pb_module:hover .tm_pb_team_member_wrap h3 a:after{
	background-color: $regular_link_hover_color;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_custom_team_member .tm_pb_team_member_wrap{
	background-color: $regular_link_color;
}
#tm_builder_outer_content .tm_pb_custom_team_member.tm_pb_module .tm_pb_team_member_wrap .tm_pb_team_member_name a{
	color: $invert_link_color;
}
#tm_builder_outer_content .tm_pb_custom_team_member.tm_pb_module .tm_pb_team_member_wrap .tm_pb_member_position{
	color: $invert_text_color;
}
.tm_pb_builder #tm_builder_outer_content .tm_pb_custom_team_member.tm_pb_module:hover .tm_pb_team_member_wrap h3 a:hover{
	color: $regular_link_hover_color;
}

#tm_builder_outer_content .tm_pb_custom_team_member.tm_pb_module.position_bottom .tm_pb_team_member_wrap:before{
	border-top-color: $invert_accent_color_2;
}
.tm_pb_team_member_description{
	background-color: $regular_accent_color_2;
	color: $invert_text_color;
}

#tm_builder_outer_content .tm_pb_custom_team_member.tm_pb_module:hover .tm_pb_team_member_wrap .tm_pb_member_social_links li a{
	color: $invert_accent_color_1;
	border-color: $invert_accent_color_1;
}
#tm_builder_outer_content .tm_pb_custom_team_member.tm_pb_module .tm_pb_team_member_wrap .tm_pb_member_social_links li a{
	color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

.tm_pb_member_social_links li a{
	color:$invert_text_color;
}
#tm_builder_outer_content .tm_pb_custom_team_member.tm_pb_module .tm_pb_member_social_links li a:hover{
	background-color:$invert_text_color;
	color:$regular_accent_color_2;
	border-color: $invert_accent_color_1;
}

/*--------------------------------------------------------------
## Testimonial
--------------------------------------------------------------*/
#tm_builder_outer_content .tm_pb_testimonial .tm_pb_testimonial_description .tm_pb_testimonial_quote_icon {
	color: $regular_accent_color_1;
}
#tm_builder_outer_content .tm_pb_testimonial .tm_pb_testimonial_description .tm_pb_testimonial_author {
	font-family: @font_family($button_font_family);
	font-weight: $button_font_weight;
	color: $regular_accent_color_1;
}
.tm_pb_testimonial_meta{
    color:$regular_accent_color_2;
}
.tm_pb_testimonial_meta span{
    color:$invert_accent_color_2;
}

/*--------------------------------------------------------------
## Toggle
--------------------------------------------------------------*/
#tm_builder_outer_content .tm_pb_toggle .tm_pb_toggle_title, #tm_builder_outer_content .tm_pb_toggle .tm_pb_toggle_title:before {
	color: $invert_accent_color_1;
}
#tm_builder_outer_content .tm_pb_toggle.tm_pb_toggle_close .tm_pb_toggle_title {
	background-color: $regular_accent_color_1;
}
#tm_builder_outer_content .tm_pb_toggle.tm_pb_toggle_open .tm_pb_toggle_title {
	color: $regular_accent_color_1;
	background-color: $invert_accent_color_3;
}
#tm_builder_outer_content .tm_pb_toggle.tm_pb_toggle_open .tm_pb_toggle_title:before{
	color: $regular_accent_color_1;
}
#tm_builder_outer_content .tm_pb_toggle .tm_pb_toggle_content {
	background-color: $invert_accent_color_1;
}

/*--------------------------------------------------------------
## Tabs
--------------------------------------------------------------*/
#tm_builder_outer_content .tm_pb_tabs .tm_pb_tabs_controls a {
	color: $regular_accent_color_2;
}
@media (max-width: 768px) {
	#tm_builder_outer_content.tm_builder_outer_content .tm_pb_tabs.tm_pb_module .tm_pb_tabs_controls li.tm_pb_tab_active a, #tm_builder_outer_content.tm_builder_outer_content .tm_pb_tabs.tm_pb_module .tm_pb_tabs_controls li a:hover {
		color: $regular_accent_color_2!important;
	}
}
#tm_builder_outer_content .tm_pb_tabs .tm_pb_tabs_controls li.tm_pb_tab_active{
	border-bottom-color: $regular_accent_color_2;
}
#tm_builder_outer_content .tm_pb_tabs .tm_pb_tabs_controls li:hover{
	border-bottom-color: $regular_accent_color_2;
}

/*--------------------------------------------------------------
## Countdown timer
--------------------------------------------------------------*/
#tm_builder_outer_content .tm_pb_countdown_timer .tm_pb_countdown_timer_container .section .countdown-sep {
	color: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_countdown_timer.invert .tm_pb_countdown_timer_container .section .countdown-sep {
	color: $invert_accent_color_1;
}

/*--------------------------------------------------------------
## Misc
--------------------------------------------------------------*/
#tm_builder_outer_content .hr-line-accent-elemet:after {
	background-color: $regular_accent_color_1;
}
#tm_builder_outer_content .tm_pb_social_media_follow .tm_pb_social_icon a {
	color: $regular_link_color;
	border-color: $regular_accent_color_2;
}
#tm_builder_outer_content .tm_pb_social_media_follow .tm_pb_social_icon a:hover {
	color: $invert_accent_color_1 ;
	border-color: $regular_link_color;
	background-color: $regular_link_color;
}
