/* #Elements */
blockquote, kbd, tt, var {
	color: $regular_text_color;
}
blockquote:before, blockquote cite, ol li:before {
	color: $regular_accent_color_2;
}
blockquote a:hover {
	color: $regular_link_color;
}

code {
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{px};
	background: $regular_accent_color_2;
	color: $invert_accent_color_1;
}

select {
	background-color: $invert_accent_color_3;
}
.invert select{
	color: $regular_text_color;
}
.site-main ul >li:before{
	background-color: $regular_accent_color_2;
}