/* #Header */
.header-container {
	background-color: $header_bg_color;
	background-image: url($header_bg_image);
	background-repeat: $header_bg_repeat;
	background-position: $header_bg_position_x top;
	background-attachment: $header_bg_attachment;
}

.site-description {
	color: $invert_text_color;
}

/* ##Logo */
.site-logo {
	font-style: $header_logo_font_style;
	font-weight: $header_logo_font_weight;
	font-size: $header_logo_font_size{px};
	font-family: @font_family( $header_logo_font_family );
}
.site-logo__link, .site-logo__link:hover {
	color: $header_text_color;
}

/* ##Top Panel */

.top-panel {
	background-color: $top_panel_bg;
}

.top-panel__message{
	color: @darken($invert_accent_color_1,25);
}
.top-panel__message .fa,
.top-panel__message .material-icons {
	color: $regular_link_hover_color;
}
@media (max-width: 768px) {
	.top-panel__message + .top-panel__search:before {
		background-color: $footer_bg;
	}
}

/* Top-search*/
.top-panel__search .cherry-search .search-form .search-submit{
	background-color: $invert_accent_color_1;
	color: $regular_accent_color_1;
}
.top-panel__search .cherry-search .search-form .search-submit:hover{
	background-color: $regular_accent_color_2;
}