/* #Main Menu */
.main-navigation li a {
	font-style: $main_menu_font_style;
	font-weight: $main_menu_font_weight;
	font-size: $main_menu_font_size{px};
	line-height: $main_menu_line_height;
	font-family: @font_family( $main_menu_font_family );
	letter-spacing: $main_menu_letter_spacing{px};
	color: $invert_link_color;
}

.main-navigation > .menu > li:before{
	background-color: $regular_link_hover_color;
}

.main-navigation > .menu > li:hover:after, 
.main-navigation > .menu > li.menu-hover:after, 
.main-navigation > .menu > li.current_page_item:after, 
.main-navigation > .menu > li.current_page_ancestor:after, 
.main-navigation > .menu > li.current-menu-item:after, 
.main-navigation > .menu > li.current-menu-ancestor:after{
	border-color: $regular_link_hover_color transparent transparent transparent;
}

.main-navigation .sub-menu a .menu-item__desc{
	color: $invert_accent_color_1;
}

.main-navigation .menu > li > a:hover,
.main-navigation .menu > li.menu-hover > a,
.main-navigation .menu > li.current_page_item > a,
.main-navigation .menu > li.current_page_ancestor > a,
.main-navigation .menu > li.current-menu-item > a,
.main-navigation .menu > li.current-menu-ancestor > a {
	color: $invert_link_color;
}

.main-navigation .menu .menu-item:first-child{
	border-color: $header_text_color;
}

.main-navigation .sub-menu a {
	color: $invert_accent_color_1;
}
.main-navigation .sub-menu {
	background-color:$regular_accent_color_2;
}
.main-navigation .sub-menu .sub-menu {
	background-color:$regular_accent_color_1;
}
.main-navigation .sub-menu .sub-menu li a:hover, .main-navigation .sub-menu .sub-menu li.current-menu-item > a {
	color:$regular_accent_color_2;
}
.main-navigation .sub-menu > li > a:hover,
.main-navigation .sub-menu > li.menu-hover > a,
.main-navigation .sub-menu > li.current_page_item > a,
.main-navigation .sub-menu > li.current_page_ancestor > a,
.main-navigation .sub-menu > li.current-menu-item > a,
.main-navigation .sub-menu > li.current-menu-ancestor > a {
	color: $regular_link_hover_color;
}
.menu-item__desc {
	font-style: $body_font_style;
	font-family: @font_family( $body_font_family );
	color: $regular_text_color;
}

.menu-toggle {
	font-style: $main_menu_font_style;
	font-weight: $main_menu_font_weight;
	font-family: @font_family( $main_menu_font_family );
	color: $invert_link_color;
}

.site-header .header-container .main-navigation.isStuck {
	background-color: $header_bg_color;
}

@media screen and (max-width: 767px) {
	.main-navigation .menu .menu-item,
	.main-navigation .menu .menu-item .sub-menu {
		border-color: $header_text_color;
	}
	.main-navigation .menu .menu-item .sub-menu .menu-item,
	.main-navigation .menu .menu-item .sub-menu .sub-menu {
		border-color: @alpha($header_text_color,10);
	}
	.main-navigation ul .menu-item.menu-item-has-children .sub-menu-toggle{
		color: $invert_link_color;
	}
}

/* #Footer Menu */
.footer-menu ul li:before {
	background-color: $invert_text_color;
}

.footer-menu__items li.current-menu-item a,
.footer-menu__items li.current_page_item a,
.footer-menu__items li a, .footer-menu__items li {
	color: $invert_accent_color_1;
}
.footer-menu__items li.current-menu-item a,
.footer-menu__items li.current_page_item a {
	color: $regular_link_hover_color;
}
.footer-menu__items li.current-menu-item a:hover,
.footer-menu__items li.current_page_item a:hover,
.footer-menu__items li a:hover {
	color: $regular_link_hover_color;
}
.main-navigation .sub-menu li.menu-item-has-children::after{
	border-color: transparent transparent transparent $regular_accent_color_2;
}