/* Main title subline */
.main-title h1:after,
.main-title h2:after,
.main-title h3:after,
.main-title h4:after,
.main-title h5:after,
.main-title h6:after,
#tm_builder_outer_content .tm_pb_title_holder:before {
	background-color: $regular_accent_color_1;
}
/* 404 */

/* #ToTop button */
#toTop {
	color: $invert_accent_color_1;
	border-color: $regular_accent_color_2;
	background: $regular_accent_color_2;
}
#toTop:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
    border-color: $regular_accent_color_1;
}

/* #Page Preloader */
.page-preloader-cover {
	background-color: $invert_accent_color_1;
}
.page-preloader div {
	background-color: $regular_accent_color_2;
}
