/* #Posts List & Post single */
.posts-list__item, .single-post article.post,
.post_format-post-format-status,
.post_format-post-format-status.posts-list__item.post-thumbnail--fullwidth {
	background-color: $invert_accent_color_3;
	border-color: $regular_link_hover_color;
}


/* #Post thumbnail */
.post-thumbnail--fullwidth.has-post-thumbnail .post-thumbnail, .post-thumbnail--fullwidth .post-featured-content, .single-post article.post.has-post-thumbnail .post-thumbnail,
.post-thumbnail--fullwidth.no-thumb .post-featured-content {
	border-color: $regular_accent_color_3;
}

/* #Entry Meta */
.post__cats a,
.sticky__label {
	border-color: $regular_accent_color_1;
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}
.post__cats a:hover {
	color: $regular_link_color;
	background-color: $invert_accent_color_1;
}
.entry-meta .material-icons,
.post__tags .material-icons,
.entry-meta .fa,
.post__tags .fa {
	color: @alpha( $regular_accent_color_1, 30 );
}
.invert .entry-meta .material-icons{
	color: $invert_text_color;
}
.entry-meta > span:before, .post__tags, .posted-by,
.post-featured-content {
	color: $regular_link_color;
}
.post__tags-label {
	color: $regular_accent_color_1;
}

.invert .post__cats a:hover {
	color: $regular_link_color;
	background-color: $invert_accent_color_1;
}

/* #Post navigation */
.post-navigation .nav-previous a, .post-navigation .nav-next a {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	font-family: @font_family( $h6_font_family );
}
@media (max-width: 1200px) {
	.post-navigation .nav-previous a, .post-navigation .nav-next a {
		font-size: @font_size($h6_font_size, multiple, ceil, 0.72)px;
	}
}
.post-navigation a .meta-nav {
	color: $regular_link_color;
}
.post-navigation a .post-title {
	color: $regular_text_color;
}
.post-navigation a:before {
	color: $regular_accent_color_3;
	background-color: $regular_accent_color_1;
}
.post-navigation a:hover:before {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}

#tm_builder_outer_content .tm_pb_button.tm_pb_ajax_more{
	color: $regular_accent_color_1;
}
#tm_builder_outer_content .tm_pb_button.tm_pb_ajax_more:hover{
	color: $invert_accent_color_1;
}

/* #Post Format */
.format-quote .post-quote {
	color: $invert_text_color;
	background-color: $regular_accent_color_2;
}
.post-format-link,
.post-format-link:hover {
	color: $regular_link_color;
	background-color: @alpha( $invert_accent_color_1, 90 );
}
.post_format-post-format-audio .post-format-audio {
	background-color: $invert_accent_color_2;
	color: $invert_text_color;
}
.post-format-audio-caption{
	color: $invert_text_color;
}
.post-gallery__caption{
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}

.format-image .post-featured-content .post-thumbnail__link:after, .post-gallery .post-gallery__link:after{
	background-color: $invert_text_color;
	color: $regular_accent_color_1;
}

/* #Author Bio */

.post-author__holder {
	background-color: $regular_accent_color_3;
}
.post-author__title {
	font-family: @font_family( $body_font_family );
}
.post-author__title a {
	color: $regular_link_color;
}
.post-author__title a:hover {
	color: $regular_link_hover_color;
}

/* taxonomy */
#tm_builder_outer_content .tm_pb_taxonomy h6{
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	font-family: @font_family( $h3_font_family );
	color: $regular_link_hover_color;
}